options 

1. Enter an expense
2. View a chart of your expenses
3. Show every transaction

SQL Commands
1. Current Expenses = SELECT Total_Amount FROM Total

2. Enter an expense = INSERT INTO Transactions(Amount,Description,Method) VALUES(20000,"Test", "Test")

3. Show every transaction = SELECT * FROM Transactions